<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
    </encoder>
  </appender>

  <appender name="json" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <file>./logs/elk.log</file>
    <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
      <fileNamePattern>./logs/elk-%d{yyyy-MM-dd}.gz</fileNamePattern>
      <maxHistory>10</maxHistory>
    </rollingPolicy>
    <encoder class="net.logstash.logback.encoder.LogstashEncoder"/>
  </appender>

  <!--<logger name="com.github.sroigmas.elk" level="INFO">
    <appender-ref ref="json"/>
  </logger>-->

  <root level="INFO">
    <appender-ref ref="console"/>
    <appender-ref ref="json"/>
  </root>
</configuration>